body { -webkit-font-smoothing: antialiased; }

input[type=range] { -webkit-appearance: none; background: transparent; }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; height: 14px; width: 14px; border-radius: 50%;
    background: #ffffff; cursor: pointer; margin-top: -5px; 
    box-shadow: 0 0 10px rgba(236, 72, 153, 0.5); border: 2px solid #ec4899; transition: transform 0.1s;
}
input[type=range]::-webkit-slider-thumb:hover { transform: scale(1.2); }
input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 4px; cursor: pointer; background: #374151; border-radius: 2px; }

body::-webkit-scrollbar { width: 6px; }
body::-webkit-scrollbar-track { background: #020617; }
body::-webkit-scrollbar-thumb { background: #334155; border-radius: 3px; }
button:focus, select:focus, input:focus { outline: none; }
